body {
	/* background-color: #F8F4E7;
	color: #552800; */
	background-color: #CCCCFF;
	color: #000000; 
}

.copyright {
	color: #002855;
	background-color: #E7F4F8;
	border: solid 1px #002855;
	padding: 2px;
}

a.link {color: #0000A0;}
a.visited {color: #A000A0;}
a.active {color: #00A000;}

#nav {list-style-type: none; padding: 0; margin: 0;}
#nav li {display: inline; margin-right: 1em;}

iframe {
	border: 1px black solid;
}
