body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	margin: 3%;
	line-height: 1.4;
}
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol{
	padding: 2px;
}
body:hover, div:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover {
	border: solid yellow 1px;
}
p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover {
	color: yellow;
}
body:active, div:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, li:active {
	border: solid lime 1px;
}
p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, li:active {
	color: lime;
}
h1 {
	text-align: center;
}
.multicol {
	margin: auto;
	/* display: flex; */
	/* flex-flow: row wrap; */
	/* flex-flow: row wrap; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* align-content: flex-start; */
	/* height: calc(100vh); */
	/* gap: 3%; */
}
.multicol div {
	min-width: 30ex;
	max-width: 100ex;
	margin: auto;
}
#footer {
	line-height: 1.2;
	font-size: 80%;
}
a:link {
	color: cyan;
	text-decoration: none;
	border: solid cyan 1px;
	padding: 1px;
}
a:visited {
	color: violet;
	text-decoration: none;
	border: solid violet 1px;
	padding: 1px;
}
a:hover {
	color: yellow;
	text-decoration: none;
	border: solid yellow 1px;
	padding: 1px;
}
a:active {
	color: lime;
	text-decoration: none;
	border: solid lime 1px;
	padding: 1px;
}
#nav ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	/*************************************/
	/* border-top: 2px solid black;		 */
	/* border-bottom: 2px solid back;	 */
	/*************************************/
}
#nav ul li {
	display: inline;
	padding: 0 1.5em;
}
#nav ul li a {
	font-weight: bold;
}
@keyframes borderBlinkRed {	
	0% {	
		border-color: transparent;
	}
	50% {	
		border-color: red;
	}
}	
#campaign {
	color: red;
	display: block;
	border: 1px solid red;
	animation-name: borderBlinkRed;
	animation-duration: .2s;
	animation-timing-function: step-end;
	animation-iteration-count: 20;
	animation-direction: alternate;
}
.alarm {
	color: red;
	border: solid red 1px;
}
.alert {
	color: orange;
	border: solid orange 1px;
}
.good {
	color: lime;
	border: solid lime 1px;
}
