body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	width: 95%;
	margin: auto;
	line-height: 1.3;
}
h1 {
	text-align: center;
}
.multicol {
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	/* flex-flow: row wrap; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* align-content: flex-start; */
	/* height: calc(100vh); */
	gap: 3%;
}
.multicol div {
	min-width: 30ex;
	max-width: 160ex;
	margin: auto;
}
#footer {
	line-height: 1.2;
	font-size: 80%;
}
a:link {
  color: cyan;
  text-decoration: none;
}
a:visited {
  color: violet;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: none;
}
a:active {
  color: lime;
  text-decoration: none;
}
#nav ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	/*************************************/
	/* border-top: 2px solid black;		 */
	/* border-bottom: 2px solid back;	 */
	/*************************************/
}
#nav ul li {
	display: inline;
	padding: 0 1.5em;
}
#nav ul li a {
	font-weight: bold;
	color: white;
}
.alarm {
	color: red;
}
.alert {
	color: orange;
}
