body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	margin: 3%;
	line-height: 1.4;
}
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol{
	padding: 2px;
}
body:hover, div:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover {
	transition: all 0.5s;
}
body:active, div:active, p:active, h1:active, h2:active, h3:active, h4:active, h5:active, h6:active, li:active {
	transition: all 0.5s;
}
h1 {
	text-align: center;
}
.wrapper {
	margin: auto;
	/* display: flex; */
	/* flex-flow: row wrap; */
	/* flex-flow: row wrap; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* align-content: flex-start; */
	/* height: calc(100vh); */
	/* gap: 3%; */
}
.wrapper div {
	min-width: 30ex;
	max-width: 100ex;
	margin: auto;
}
#footer {
	line-height: 1.2;
	font-size: 80%;
}
a:link {
	color: cyan;
	text-decoration: none;
	border: solid cyan 1px;
	padding: 1px;
}
a:visited {
	color: violet;
	text-decoration: none;
	border: solid violet 1px;
	padding: 1px;
}
a:hover {
	color: yellow;
	text-decoration: none;
	border: solid yellow 1px;
	padding: 1px;
}
a:active {
	color: lime;
	text-decoration: none;
	border: solid lime 1px;
	padding: 1px;
}
#nav ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	/*************************************/
	/* border-top: 2px solid black;		 */
	/* border-bottom: 2px solid back;	 */
	/*************************************/
}
#nav ul li {
	display: inline;
	padding: 0 1.5em;
	border: none;
}
#nav ul li a {
	font-weight: bold;
}
#majornote {
	font-size: 120%;
	color: lime;
	display: block;
	border: 3px dashed lime;
	transition: all 0.5s;
}
#campaign {
	font-size: 120%;
	color: red;
	display: block;
	border: 3px dashed red;
	transition: padding 1s, font-size 1s;
}
#campaign:hover{
	font-size: 300%;
	transition: padding 1s, font-size 1s;
	animation-name: shake;
	animation-iteration-count: 1;
	animation-duration: 3s;
	padding: 2ex;
}
.alarm {
	color: red;
}
.alert {
	color: orange;
}
.good {
	color: lime;
}
@keyframes shake { 
   0%, 100% {transform: rotate(0deg);} 
   10%, 30%, 50%, 70%, 90% {transform: rotate(-3deg);} 
   20%, 40%, 60%, 80% {transform: rotate(3deg);} 
}

/* from https://gist.githubusercontent.com/ammaraskar/5558871/raw/b3f43cb5e9f67216b2287de7a6e92da8cb4af0f4/april-fools.css */

/*
  aprilFools.css
  Written by Wes Bos
  I assume no responsibility for angry co-workers or lost productivity 

  Put these CSS definitons into your co-workers Custom.css file.
  
  They will be applied to every website they visit as well as their developer tools.
  
*/


/*
  Turn every website upside down
*/
body {
  /*-webkit-transform: rotate(180deg);
  transform: rotate(180deg);*/
}

/*
  blur every website for a split second every 30 seconds
*/
body {
  animation: blur 30s infinite;
}

/*
  Spin every Website
*/ 
body {
    animation: spin 5s linear infinite;
}

/*
  Flip all images upside down
*/
img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*
  COMIC SANS EVERYTHING
*/

body, p, body p, body div p {
  font-family: 'Comic Sans MS', cursive !important;
}

/*
  Spin all images
*/ 
img {
  /*-webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;*/
}

/*
  Hide every 2nd paragraph element on a page
*/
p:nth-child(2) {
  /*display:none !important;*/
}


/*
  Permanent cursor wait
*/ 
html {
  /*cursor:wait !important; */
}

/*
  hide the cursor all together
*/
html {
  /*cursor:none !important;*/
}

/*
  slowly grow text
*/
p {
  -webkit-animation: grow 120s ease-in;
  -moz-animation: grow 120s ease-in;
  animation: grow 120s ease-in;
}

/*
  Spin dev tools round and round
*/
#-webkit-web-inspector {
 -webkit-animation: spin 1s linear infinite; 
}

/*
  Flip dev tools upside down
*/ 
#-webkit-web-inspector {
 -webkit-transform:rotate(180deg);
}

/* Hide the close button */
#-webkit-web-inspector .toolbar-item.close-left {
  display:none !important;
}

/* Make console text all blurry */
#-webkit-web-inspector .console-group-messages {
  text-shadow: 0 0 3px rgba(0,0,0,.5) !important;
}

#-webkit-web-inspector .console-error-level .console-message-text,
#-webkit-web-inspector .console-error-level .section .header .title {
  /*text-shadow: 0 0 3px rgba(255,0,0,.5) !important;*/
}

#-webkit-web-inspector .console-user-command > .console-message-text {
  /*text-shadow: 0 0 3px rgba(0,128,255,.5) !important;*/
}

#-webkit-web-inspector .console-group-messages,
#-webkit-web-inspector .console-user-command > .console-message-text,
#-webkit-web-inspector .console-formatted-null,
#-webkit-web-inspector .console-formatted-undefined,
#-webkit-web-inspector .console-debug-level .console-message-text,
#-webkit-web-inspector .console-error-level .console-message-text,
#-webkit-web-inspector .console-error-level .section .header .title,
#-webkit-web-inspector .console-group-messages .section .header .title,
#-webkit-web-inspector .console-formatted-object,
#-webkit-web-inspector .console-formatted-node,
#-webkit-web-inspector .console-formatted-array,
#-webkit-web-inspector .section .properties .name,
#-webkit-web-inspector .event-properties .name,
#-webkit-web-inspector .console-formatted-object .name,
#-webkit-web-inspector .console-formatted-number,
#-webkit-web-inspector .console-formatted-string,
#-webkit-web-inspector #console-messages a {
  /*color: transparent !important;*/
}

/* HTML PRIDE! */
html {
  /*-webkit-animation: rainbow 8s infinite;*/
}

/*
  Make every website fall over!
*/
html, body {
  height: 100%;
}

html {
  -webkit-perspective: 1000;
  perspective: 1000px;
}

body {
  -webkit-transform-origin: bottom center;
  -webkit-transform: rotateX(-80deg);
  -webkit-animation: fall 12s ease-in;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
  animation: fall 12s ease-in;
}

/*
	Insert a phrase every paragraph
*/
p:before {
   content: "HACKER!  Hullo the CSS!  ";
}

p:hover {
  transform-origin: right center;
  transform: rotateY(-80deg);
  animation: fall 12s ease-in;
}

/* Animations */

@-webkit-keyframes blur {
  0%   { -webkit-filter: blur(0px); }
  49%   { -webkit-filter: blur(0px); }
  50%   { -webkit-filter: blur(1px); }
  51%   { -webkit-filter: blur(0px); }
  100%   { -webkit-filter: blur(0px); }
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg); }
  100%   { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rainbow {
  100% { -webkit-filter: hue-rotate(360deg); }
}

@-webkit-keyframes fall {
  0%   { -webkit-transform: none; }
  100%   { -webkit-transform: rotateX(-90deg); }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100%   { transform: rotate(360deg); }
}

@keyframes fall {
  0%   { transform: none; }
  100%   { transform: rotateX(-90deg); }
}

@-moz-keyframes spin {
  0%   { transform: rotate(0deg); }
  100%   { transform: rotate(360deg); }
}

@-moz-keyframes fall {
  0%   { transform: none; }
  100%   { transform: rotateX(-90deg); }
}


@-webkit-keyframes grow {
  0%   { font-size: none; }
  100%   { font-size: 80pt; }
}
@-moz-keyframes grow {
  0%   { font-size: none; }
  100%   { font-size: 80pt; }
}
@keyframes grow {
  0%   { font-size: none; }
  100%   { font-size: 80pt; }
}
